body {
	background: linear-gradient(to right, #fe4775, #6346ff);
}

.calculator {
	width: 350px;
	margin: 20px auto 0px auto;
	padding: 10px;
	border-radius: 10px;
}

#screen {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #F0EFEF;
	font-size: 25px;
	font-weight: bold;
	color: grey;
	padding: 7px 5px;
	text-align: right;
	outline: none;
	margin-bottom: 10px;
}

.container-button {
	display: flex;
	flex-wrap: wrap;
}

.button {
	display: flex;
	width: 23%;
	margin: 1%;
	font-size: 20px;
	color: white;
	font-weight: bold;
	height: 60px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background-color: #26294b;
	border-radius: 5px;
}


.button:hover {
	background-color: #4A4E7D;
	cursor: pointer;
	opacity: 0.9;
	color: white;
}

.nol {
	flex-grow: 1;
}

.operator {
	background-color: #1C1E3A
}

.hitung {
	color: #1C1E3A;
	background-color: #ffffff;
}

.hitung:hover {
	background-color: #F2F2F2;
	color: orange;
}

@media screen and (max-width: 900px) {
	.calculator {
		width: 350px;
		margin: 10px auto 0px auto;
		padding: 10px;
		border-radius: 10px;
	}
}

@media screen and (max-width: 600px) {
	.calculator {
		width: 350px;
		margin: 10px auto 0px auto;
		padding: 10px;
		border-radius: 10px;
	}
}